@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.main-container {
  max-width: 1920px;
  margin: 0 auto;
}

.main-container .main-content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #24252a;
}


.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #139907;
  padding: 5em;
  gap: 1.5em;

  border-radius: 10px;
  background-color: rgba(201, 255, 188, 0.199);
}

.wrapper .title {
  font-size: 1.5rem;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.wrapper .count {
  font-size: 10rem;
  font-weight: 300;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.wrapper .buttons {
  display: flex;
  gap: 1em;
}

.buttons > button{
  border: none;
  outline: none;
  padding: 1em 2em;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.buttons > button:hover {
  opacity: 0.6;
  transform: translateY(-2px);
}

.buttons > button:active {
  opacity: 1;
  transition: none;
}

.buttons .increment-btn {
  background-color: black;
  color: white;
}

.buttons .decrement-btn {
  background-color: #cccccc;
  color: black;
  font-weight: 500;
}